.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-top: 70px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}
